#################################################
#               Mac OSX                         #
#################################################
.DS_Store
.Thumbs

#################################################
#               Code                            #
#################################################
    # OCaml
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
    # Ruby
.rbenv-version
.rvmrc
